.root {
  position: fixed;
  top: 3rem;
  right: 0;
  bottom: 0;
  display: flex;
  width: calc(100% - 2rem);
  max-width: 30rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 1.5rem rgba(#000, 0.25);
  transform: translateX(calc(100% - 0.25rem));
  transition: transform 100ms;
}

.expanded {
  transform: translateX(0);
}

.toggle {
  position: absolute;
  top: calc(50% - 20px);
  left: -16px;
  width: 16px;
  height: 40px;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 3px 0 0 3px;
  background: #fff;
  -webkit-appearance: none;
  cursor: pointer;
  transform-origin: right center;
  transition: transform 100ms;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 6px;
    bottom: 5px;
    width: 2px;
    background: #777;
  }

  &::after {
    left: 10px;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.contentWrapper {
  flex: 1;
  padding: 0.75rem 1rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
