.root {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  min-width: 22rem;
}

.loadingCell {
  text-align: center;
}

.numericCol {
  text-align: right;
}

.row {
  cursor: pointer;
  transition: background-color 100ms;
}

.selectedRow {
  background-color: #ffffc6;
}

.unserviceableRow {
  opacity: 0.5;
}

.ownerCell {
  text-transform: capitalize;
}
