@import '~normalize.css';

:global {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }

  html,
  body,
  #root {
    height: 100%;
  }
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #292b2c;
}

.map {
  flex: 1;
  position: relative;
}
