.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-left: 1rem;
  background: #563d7c;
  color: #fff;
}

.brand {
  margin: 0;
  font-size: 1.25rem;
  font-weight: inherit;
}

.menu {
  display: flex;
}

.menuItem {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  transition: background 100ms;

  svg {
    transition: transform 100ms;
  }

  &:hover svg {
    transform: scale(1.2);
  }
}

.activeMenuItem {
  background: rgba(255, 255, 255, 0.2);
}
