.root {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  th,
  td {
    padding: 0.75rem;
    border-top: 1px solid #eceeef;
    vertical-align: top;
  }

  thead th {
    background-color: #eceeef;
    vertical-align: bottom;
  }
}
